<div class="page-container">
  <h1>Our Heroes</h1>

  <div class="header-actions">
    <button mat-raised-button color="primary" [routerLink]="['/heroes/create']">
      <mat-icon>add</mat-icon>
      Add Hero
    </button>
  </div>

  @if (heroes() === null) {
  <div class="spinner-container">
    <mat-spinner />
  </div>
  } @else if (heroes().length === 0) {
  <p>No heroes found.</p>
  }@else {
  <div class="hero-list">
    <div class="cards-container">
      @for (hero of heroes(); track hero.id) {
      <app-hero-card [hero]="hero" (delete)="onDelete($event)" />
      }
    </div>
  </div>
  }

</div>
