<div class="page-container">
  <h1>Our Heroes</h1>

  <mat-form-field appearance="outline">
    <mat-label>Search Hero</mat-label>
    <input
      matInput
      [formControl]="searchControl"
      placeholder="Type a name..."
    />
  </mat-form-field>

  <div class="header-actions">
    <button mat-raised-button color="primary" [routerLink]="['/heroes/create']">
      <mat-icon>add</mat-icon>
      Add Hero
    </button>
  </div>

  @if (paginatedHeroes() === null) {
  <div class="spinner-container">
    <mat-spinner />
  </div>
  } @else if (paginatedHeroes().length === 0) {
  <p>No heroes found.</p>
  }@else {
  <div class="hero-list">
    <div class="cards-container">
      @for (hero of paginatedHeroes(); track hero.id) {
      <app-hero-card [hero]="hero" (delete)="onDelete($event)" />
      }
    </div>
  </div>
  <div class="pagination-controls">
    <button
      mat-stroked-button
      (click)="prevPage()"
      [disabled]="currentPage() === 1"
    >
      Previous
    </button>
    <span>Page {{ currentPage() }} of {{ totalPages() }}</span>
    <button
      mat-stroked-button
      (click)="nextPage()"
      [disabled]="currentPage() === totalPages()"
    >
      Next
    </button>
  </div>
  }
</div>
