<form [formGroup]="form" (ngSubmit)="onSubmit()" class="hero-form">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
    <ng-container *ngIf="getErrorMessage('name').length > 0">
      <mat-error *ngFor="let msg of getErrorMessage('name')">{{ msg }}</mat-error>
    </ng-container>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <ng-container *ngIf="getErrorMessage('description').length > 0">
      <mat-error *ngFor="let msg of getErrorMessage('description')">{{
        msg
      }}</mat-error>
    </ng-container>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Image URL</mat-label>
    <input matInput formControlName="image" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Power</mat-label>
    <input matInput formControlName="power" />
    <ng-container *ngIf="getErrorMessage('power').length > 0">
      <mat-error *ngFor="let msg of getErrorMessage('power')">{{ msg }}</mat-error>
    </ng-container>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
    <span *ngIf="!loading">Save Hero</span>
  </button>
</form>
<button mat-button color="accent" [routerLink]="['/']">← Back</button>
